@using BlogSite.Models.PartialModels
@model PartialPost

<div class="card h-100">
    <div style="height:20vh; background-image:url(@Model.Theme.ThemeImage);"></div>
    <div class="card-body">
        <a class="h4 card-title" href="#">@Model.Title</a>
        <div class="mt-2 mb-1">
            <h6 class="card-subtitle text-muted">Author: </h6>
            <a class="h6 card-subtitle text-muted" href="#">@Model.Author.Username</a>
        </div>
        <div class="mb-1">
            <h6 class="card-subtitle text-muted">Theme: </h6>
            <h6 class="card-subtitle text-muted">
                @if (Model.Theme != null) { <text>@Model.Theme.ThemeName</text>}
                else {<text>None</text>}
            </h6>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <div class="h6 card-text likes">Likes: @Model.Likes</div>
        <div class="h6 card-text text-muted">Last updated: @Model.LastUpdateDate.ToShortDateString()</div>
    </div>
</div>