@using BlogSite.Models.FilterModels
@model PostsFilterModel
@{
    var themes = ViewData["FilterThemes"] as List<SelectListItem>;
    var periods = ViewData["FilterDatePeriods"] as List<SelectListItem>;
}

<form method="post">
    <div class="row bg-secondary text-light border rounded-3">
        <div class="col-sm-12 col-md-1 ps-md-4">
            <label class="col-form-label h6">Filters:</label>
        </div>
        <div class="col-sm-12 col-md-3 pt-1">
            <label class="form-label me-2 ps-md-5" asp-for="@Model.ThemeId"></label>
            <select class="form-control-sm" style="display:inline-block; width:150px;" asp-items="@themes" asp-for="@Model.ThemeId"></select>
        </div>
        <div class="col-sm-12 col-md-3 pt-1">
            <label class="form-label me-2" asp-for="@Model.DatePeriod"></label>
            <select class="form-control-sm" style="display:inline-block; width:150px;" asp-items="@periods" asp-for="@Model.DatePeriod"></select>
        </div>
        <div class="col-sm-12 col-md-2 pt-2 pb-2">
            <input class="form-check-input" type="checkbox" id="most-popular" asp-for="@Model.MostPopular">
            <label class="form-check-label" asp-for="@Model.MostPopular"></label>
        </div>
        <div class="col-sm-12 col-md-2 pt-2 pb-2">
            @if(Model.Client != null){<input class="form-check-input" type="checkbox" id="only-favorites" asp-for="@Model.OnlyFavorites">}
            else {<input class="form-check-input" type="checkbox" id="only-favorites" disabled>}
            <label class="form-check-label" asp-for="@Model.OnlyFavorites"></label>
        </div>
        <input id="page-num" hidden asp-for="@Model.Page"/>
        <button class="col-sm-12 col-md-1 btn btn-secondary active" type="submit">Apply</button>
    </div>
</form>
