@page
@using Newtonsoft.Json;
@model BlogSite.Pages.Post.IndexModel
@{
    ViewData["Title"] = Model.Post != null ? Model.Post.Title : "No results";
}

@if(Model.Post != null)
{
    @section Css{
        <link rel="stylesheet" href="~/css/post_read.css"/>
        <link rel="stylesheet" href="~/lib/quill/css/quill.bubble.min.css"/>
    }

    <div class="container mt-4">
        <div class="row ps-2 pe-2" id="postread-maininfo">
            <div class="col-sm-12 col-md-1"></div>
            <div class="col-sm-12 col-md-8">
                <h2 class="postread-title">@Model.Post.Title</h2>
                <div class="row mt-2">
                    <div class="col-sm-12 col-md-12 d-flex justify-content-between">
                        <div>
                            <span class="h6 text-muted">by </span>
                            <a class="h6 text-muted" asp-page="/Author/Index" asp-route-id="@Model.Post.Author.UserId">@Model.Post.Author.Username</a>
                        </div>
                        <div class="likes-container">
                            <span class="like-button text-danger">
                                @if(!Model.Post.IsLiked){<partial name="Icons/_LikeIcon"/>}
                                else{<partial name="Icons/_FillLikeIcon"/>}
                            </span>
                            <span class="h6" id="likes-counter">@Model.Post.Likes</span>
                        </div>
                        @Html.AntiForgeryToken()
                    </div>
                </div>
                <hr />
            </div>
        </div>
        <div class="row" id="postread-content">
            <div class="col-sm-12 col-md-1"></div>
            <div class="col-sm-12 col-md-8">
                <div id="post-reader">
                    @Html.Raw(Model.PostContent)
                </div>
            </div>
            <div class="col-sm-12 col-md-3 mt-2">
                <div class="card">
                    <div style="height:20vh; background-image:url(@Model.Post.Theme.ThemeImage);"></div>
                    <div class="card-body">
                        <h6 class="card-subtitle text-muted mb-3">Theme: @Model.Post.Theme.ThemeName</h6>
                        <h6 class="card-subtitle text-muted mb-3">Created: @Model.Post.CreationDate.ToShortDateString()</h6>
                        <h6 class="card-subtitle text-muted">Last update: @Model.Post.LastUpdateDate.ToShortDateString()</h6>
                        @if (Model.Client != null && Model.Client.UserId == Model.Post.Author.UserId)
                        {
                            <a class="btn btn-sm w-100 btn-success mt-4 mb-3" asp-page="/Post/Edit" asp-route-id="@Model.Post.PostId">Edit</a>
                            <button class="btn btn-sm w-100 btn-danger" id="btn-delete-post">Delete</button>
                            <partial name="Components/Modals/_DeletePostModal"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
        <script src="~/lib/quill/js/quill.min.js"></script>
        <script src="~/js/post_reader.js"></script>
        @if (Model.Client != null)
        {
            <script type="text/javascript">
                var postId = @Model.Post.PostId;
                var postlike_status = @JsonConvert.SerializeObject(Model.Post.IsLiked);
            </script>

            @if (Model.Client.UserId != Model.Post.Author.UserId)
            {
                <script src="~/js/postread_like.js"></script>
            }
            else
            {
                <script src="~/js/modals/delete_post_modal.js"></script>
            }
        }
    }
}
else
{
    <div class="container mt-5">
        <partial name="Components/_NoResults"/>
    </div>
}